body{
    background-color: #F2FDFD;

}table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family:poppins;
  }
  th, td {
    background-color: #FBEEE5;
  }
  h2,p{
    font-family:poppins;
  }
  a{
    text-decoration: none;
    color:black;
}
  .dashboard {
    position: fixed;
    top: 30px;
    left: 0px;
    bottom: 0px;
    width: 160px;

    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5px;
    padding-left: 12px;

}

.dashboard_icons {
    color: grey;
}

.dashboard_content {
    display: inline-block;
}
p.icons_description {
    display: inline-block;
    margin-left: 15px;
    font-family: poppins;
    font-size: 16px;

}
.maintenance_image,
.arrears_icon,
.payment_icon,
.dashboard_icons {
    width: 30px;
}
.content{
    margin-left:175px;
}