* {
    box-sizing: border-box;
  }
  
  body {
    font-family: poppins, Helvetica, sans-serif;
    background-color: #F2FDFD;
    ;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FBEEE5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  #message-success, #request-success {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
  }
  #logout-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

#logout-form button {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:poppins;
}

#logout-form button:hover {
    background-color: #aaa;
}